body{
  color:rgb(255,0,0);
  background-color: rgb(255,255,0);
  font-family:sans-serif;
}

h1{
  font-family: serif;
}

h2{
  color: black;
  background-color: white;
}

.títulos{
  font-style: italic;
}

#títuloA{
  background-color: blue;
}